<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="~{fragments/head :: head}"></head>
<body>
	<nav
		class="navbar navbar-expand-md fixed-top navbar-light bg-light nav-background nav-bottom">
		<div
			class="container-fluid col-4 d-flex justify-content-center text-center no-wrap">
			<div class="title green">Annie Foote's Recipe Book</div>
			<button class="navbar-toggler" type="button"
				data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
				aria-controls="navbarNavAltMarkup" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
				<div class="navbar-nav padded-sides">
					<a href="/" class="nav-link">Home</a> <a href="/search"
						class="nav-link">Search</a> <a href="/browse" class="nav-link">Browse</a>
					<a sec:authorize="hasRole('ADMIN')" href="/add" class="nav-link">Add
						a Recipe</a>
				</div>
			</div>
		</div>
	</nav>
	<div class="container padded-top">
		<h1 class="center green">Edit</h1>
		<div>
			<ol>
				<li class="padded20">
					<form method="POST" enctype="multipart/form-data"
						action="/uploadImage">
						<input th:if="${id} != null" type="hidden" th:name="pageName"
							th:value="'edit/'+${id}" /> <input th:if="${id} == null"
							type="hidden" name="pageName" th:value="edit" />
						<p>
							Upload image(s) for recipe (optional).<br />Hold CTRL key to
							select multiples.
						</p>
						<p>
							<input type="file" name="files" multiple="multiple"
								accept="image/png, image/jpeg, image/jpg, image/bmp" />
						</p>
						<p>
							...and:&nbsp;<input type="submit" value="Upload" />
						</p>
						<p>Or just click Upload to clear any chosen images.</p>
					</form>
					<div th:each="encodedImage : ${encodedImages}">
						<img
							th:src="${'data:image/jpeg;charset=ascii;base64,' + encodedImage}"
							width="100%" />
					</div>
				</li>
				<form method="POST" action="/edit" id="recipeform">
					<input type="hidden" th:each="encodedImage : ${encodedImages}"
						name="encodedImages" th:value="${encodedImage}" /> <input
						type="hidden" name="id" th:value="${id}" />
					<li class="padded20"><input name="recipeName" type="text"
						th:value="${name}" class="form-control" required="required"
						placeholder="Recipe Name" /></li>
					<li class="padded20"><textarea name="recipeText" wrap="hard"
							class="form-control" form="recipeform" placeholder="Recipe Text"
							rows="10" th:utext="${body}" required="required"></textarea></li>
					<li class="padded20"><p>Add comma-separated descriptive
							tags to help searching.</p> <input name="tags" type="text"
						class="form-control" required="required" th:value="${tags}"
						placeholder="Comma-separated Tags, e.g. 'chocolate, cookies'" /></li>
					<input class="center" type="submit" value="Save" />
				</form>
			</ol>
		</div>
	</div>
</body>
</html>