<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
</head>
<body>
	<nav class="navbar fixed-top sidebar">
		<img src="/images/rose.png" alt="rose"
			title="Annie Foote's Recipe Book" />
		<ul class="me-auto mb-2 mb-lg-0">
			<li class="nav-link active"><a href="/">Home</a></li>
			<li class="nav-link"><a href="/search">Search</a></li>
			<li class="nav-link"><a href="/browse">Browse</a></li>
			<li class="nav-link"><a href="/add">Add a Recipe</a></li>
		</ul>
	</nav>
	<div class="container center mainPanel">
		<h2 class="title">Annie Foote's Recipe Book</h2>
		<section>
			<p>Dedicated to all the wonderful meals lovingly prepared by this
				wonderful woman.</p>
			<img width="70%" src="images/dsc_1595.jpg" class="border" />
		</section>
	</div>
</body>
</html>