<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
</head>
<body>
	<nav class="navbar fixed-top sidebar">
		<ul class="me-auto mb-2 mb-lg-0">
			<li class="nav-link"><a href="/">Home</a></li>
			<li class="nav-link"><a href="/search">Search</a></li>
			<li class="nav-link"><a href="/browse">Browse</a></li>
			<li class="nav-link"><a href="/add">Add a Recipe</a></li>
		</ul>
	</nav>
	<div class="container center mainPanel">
		<h2 class="center title" th:text="${name}"></h2>
		<div style="text-align: left; padding-left: 10%">
			<p>
				<span th:each="tag : ${tags}" class="border padded5 rounded"><a
					th:text="${tag}" th:href="@{/tags/{tag}(tag=${tag})}"></a></span>
			</p>
			<textarea name="recipeText" wrap="hard" cols="20"
				style="white-space: pre-line" th:utext="${body}"
				class="form-control" form="recipeform" placeholder="Recipe Text"
				rows="10" required="required"></textarea>
			<div style="padding-top: 25px;">
				<img th:each="encodedImage : ${encodedImages}"
					th:src="${'data:image/jpeg;charset=ascii;base64,' + encodedImage}"
					alt="image" style="width: 100%" />
			</div>
			<div style="text-align: right;">
				<a th:href="@{/edit/{id}(id=${id})}" title="edit"><img
					src="/images/edit.png" alt="edit" /></a> <img src="/images/delete.png"
					title="delete" alt="delete" class="link"
					th:onclick="deleteById([[${name}]], [[${id}]])" />
			</div>
		</div>
	</div>
</body>
</html>