<html xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
<body>
	<nav class="navbar fixed-top sidebar">
		<ul class="me-auto mb-2 mb-lg-0">
			<li class="nav-link"><a href="/">Home</a></li>
			<li class="nav-link active"><a href="/search">Search</a></li>
			<li class="nav-link"><a href="/browse">Browse</a></li>
			<li class="nav-link"><a href="/add">Add a Recipe</a></li>
		</ul>
	</nav>
	<div class="container center mainPanel">
		<h2 class="title center">Search</h2>
		<section class="col col-sm-12 center">
			<form action="/search" method="POST">
				<div class="input-group">
					<input type="search" placeholder="Search" name="searchTerm"
						required="required" maxlength="50" autofocus="autofocus"
						class="form-control" />
					<div class="input-group-append">
						<button type="submit" style="height: 50px">Search</button>
					</div>
				</div>
			</form>
		</section>
		<div th:if="${recipes}">
			<p class="bold">
				<span th:text="${#maps.size(recipes)}"></span><span>&nbsp;result(s)
					matching '</span><span th:text="${searchTerm}"></span><span>'.</span>
			</p>
			<hr />
			<ol>
				<li th:each="mapEntry : ${recipes}" style="text-align: left"><a
					th:href="@{/recipes/{id}(id=${mapEntry.key})}"><span
						th:text="${mapEntry.value}"></span></a></li>
			</ol>
			<hr />
		</div>
	</div>
</body>
</html>