@charset "UTF-8";

@font-face {
	font-family: "decker";
	src: url(../fonts/Decker.ttf) format("truetype");
}

@font-face {
	font-family: "coneria";
	src: url(../fonts/ConeriaScript.ttf) format("truetype");
}

html, body {
	height: 100%;
}

body {
	font-family: "arial";
	font-size: 24px;
	background-image: url("/images/background.jpg");
}

.title {
	font-family: "coneria";
	font-size: 1.2em;
	font-weight: bolder;
}

.border {
	border: 5px solid #80805c !important;
}

.center {
	text-align: center !important;
	display: block !important;
	margin-left: auto !important;
	margin-right: auto !important;
}

.nav-background {
	background-color: #b092b0 !important;
}

.nav-bottom {
	margin-bottom: 25px;
	border-bottom: 5px solid #80805c !important;
}

.padded20 {
	padding: 20px;
}

.padded5 {
	padding: 5px;
}

.margin5 {
	margin: 5px;
}

hr {
	color: #80805c;
	border-top-width: 10px;
}

a {
	text-decoration: none;
}

li {
	margin: 20px 0 20px 0;
}

h1 {
	font-family: "coneria";
}

.green {
	color: #476247 !important;
}

.label {
	font-style: italic;
}

nav a {
	font-family: "decker";
	text-decoration: none;
}

nav a:hover {
	text-decoration: none;
}

nav a:visited {
	text-decoration: none;
}

nav a:focus {
	outline: none;
	text-decoration: none;
}

.rounded {
	border-radius: 20px !important;
}

textarea {
	white-space: pre-line;
	font-size: x-large !important;
	overflow-y: scroll;
}

input {
	font-size: x-large !important;
}

.padded-top {
	padding-top: 125px;
}

.no-wrap {
	white-space: nowrap;
}

.padded-sides {
	padding: 0 20px 0 20px;
}

img.link {
	cursor: pointer;
}